<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     data-namespace-typo3-fluid="true">

    <div
            class="share share-outside pull-right"
            data-sticker="true"
            data-sticker-fluid="true"
            data-autoPosition="0"
    >
        <span class="share-intro">Share on</span>
        <ul>
            <li><a class="sharer" data-sharer="twitter"><span class="fa fa-twitter"></span></a></li>
            <li><a class="sharer" data-sharer="facebook"><span class="fa fa-facebook"></span></a></li>
            <li><a class="sharer" data-sharer="linkedin"><span class="fa fa-linkedin"></span></a></li>
        </ul>
    </div>
</div>
